header {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
}

#headerLink {
    text-decoration: none;
    color: #000;
}

html, body {
    padding-top: 70px;
    height: 100vh;
    margin: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.full-height {
    height: 35vh;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.content-list {
    text-align: left;
}

.title {
    font-size: 84px;
    font-family: 'Love Ya Like A Sister', serif;
}

.list {
    font-size: 20px;
    font-family: 'Love Ya Like A Sister', serif;
}

.results {
    font-family: 'Suravaram', serif;
}

#search-btn{
    width: 150px;
}

#results-font-word {
    font-size: 25px;
}

#results-font {
    font-size: 20px;
}

ul {
    left: 20px;
    list-style: none outside none;
}

li {
    float: left;
    display: block;
    height: 40px;
}